{
	admin off
}

{$APP_HOST:app.localhost} {
	tls internal
	encode gzip
	log
	header X-Content-Type-Options nosniff
	@static path /static/*
	handle @static {
		root * /srv
		header Cache-Control "public, max-age=3600"
		file_server
	}
	handle_path /media/* {
		root * /media
		header Cache-Control "public, max-age=31536000, immutable"
		file_server {
			hide .upload-*
		}
	}
	handle {
		reverse_proxy {$APP_UPSTREAMS:app:8080} {
			lb_policy round_robin
			health_uri /healthz
			health_interval 2s
			health_timeout 1s
			fail_duration 10s
			lb_try_duration 3s
			transport http {
				keepalive {$UPSTREAM_KEEPALIVE:2m}
			}
		}
	}
}
